@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,400;0,600;0,700;0,800;1,500;1,600;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Purple-60: #703bf7;
  --Purple-65: #8254f8;
  --Purple-70: #946cf9;
  --Purple-75: #a685fa;
  --Purple-90: #dbcefd;
  --Purple-95: #ede7fe;
  --Purple-97: #f4f0fe;
  --Purple-99: #fbfaff;

  --Grey-08: #141414;
  --Grey-10: #1a1a1a;
  --Grey-15: #262626;
  --Grey-20: #333;
  --Grey-30: #4d4d4d;
  --Grey-40: #666666;
  --Grey-50: #808080;
  --Grey-60: #999999;

  --White-90: #e4e4e7;
  --White-95: #f1f1f3;
  --White-97: #f7f7f8;
  --White-99: #fcfcfd;

  --desktopNavPadding: 20px 160px;
  --PcNavPadding: 14px 80px;
}
*,
* + * {
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

html {
  min-height: 100%;
  /* background:linear-gradient(0deg, rgba(74, 73, 73, 0.3), rgba(255, 241, 249, 0.3)), url(https://picsum.photos/id/1043/800/600); */
  scroll-behavior: smooth;
  background-size: cover;
}
body {
  font-style: normal;
  font-family: Urbanist;
  background-color: var(--Grey-08);
}

select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}
.custom-select {
  /* ... */
  position: relative;
}
.custom-select::before,
.custom-select::after {
  --size: 0.5rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

/* .custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
} */

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid #fff;
  top: 50%;
}

.custom-selectPatch::after {
  top: 65%;
}
.container {
  padding: 80px;
}

.paragraphText {
  color: var(--Absolute-White, #fff);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.headerText {
  color: var(--Absolute-White, #fff);
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 57px */
}

.smallheaderText {
  color: var(--Absolute-White, #fff);
  font-size: 20px;
  font-weight: 600;
  line-height: 150%; /* 30px */
}

.smallerText {
  color: var(--Absolute-White, #fff);
  font-size: 14px;
  font-weight: 500;
  line-height: 150%; /* 21px */
}

button {
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: var(--Purple-60);
  background: var(--Grey-10);
  width: 20px;
}
