/* FEATURED CONTAINER STYLES */
.featuredItemsContainer {
    padding: 90px 80px;
    background-color: var(--Grey-08);
  }
  .featureItemHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* grid-area: 150px; */
  }
  
  .featureItemHeader > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .featureItemHeader > div:first-child h3 {
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
  
  .featureItemHeader > div:first-child p {
    color: var(--Grey-60, #999);
    font-size: 16px;
    display: block;
  }
  .featureItemHeader > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
  
  .featureItemHeader > div:last-child button {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--Grey-15);
    color: #ffff;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--Grey-10);
  }
  
  .featuredItemsContainerWrapper {
    padding-block: 90px;
  }
  
  .featuredItemListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* padding: 20px; */
    gap: 20px;
    /* border-radius: 10px; */
  }
  
  .featuredItemWrapper {
    padding: 30px;
    border-radius: 12px;
    border: 1px solid var(--Grey-15);
    background: var(--Grey-08, #141414);
    /* background-color: red; */
  }
  
  .featuredItem {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* background-color: red; */
  }
  
  .featuredItem h2 {
    color: var(--Absolute-White, #fff);
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
  }
  
  .featuredItem > div:first-child {
    /* padding-bottom: 10px; */
    border-radius: 15px;
    /* border-radius: 10px; */
    /* background-color: red; */
    width: 100%;
    height: 255px;
    /* margin: 0 auto; */
  }
  
  .featuredItem > div:first-child p {
    color: var(--Grey-60, #999);
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
  }
  
  .featuredItem > div:first-child img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  .featuredItem > div:last-child {
  }
  .featuredItemText {
    padding-block: 20px;
  }
  .productTags {
    display: flex;
    flex-wrap: wrap;
  }
  .productTags p {
    display: flex;
    padding: 6px 14px;
    align-items: center;
    margin-block: 5px;
    margin-right: 5px;
    gap: 4px;
    border-radius: 28px;
    border: 1px solid var(--Grey-15);
    background: var(--Grey-10, #1a1a1a);
  }
  
  .productTags img {
    width: 22px;
  height: 17px;
  }
  .featureditemPriceContainer .buyButton button {
    background-color: var(--Purple-60);
  padding: 14px 30px;
  border: 0px solid red;
  border-radius: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
  }
  
  
  .featureditemPriceContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 24px;
    /* flex-wrap: wrap; */
    /* background-color: red; */
    justify-content: space-between;
  }
  
  .featureditemPriceContainer .price{
    display: flex; 
     justify-content: space-between;
    flex-direction: column;
    font-size: 20px;
    line-height: 150%
  }
  .featureditemPriceContainer span{
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }
  
  .featuredToggle {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--Grey-15);
    padding-block: 16px;
    margin-top: 40px;
  }
  
  .featuredToggle p  {
    display: flex;
    gap: 5px;
  }
  .featuredToggle .toggleButton {
    display: flex;
    gap: 10px;
    /* background-color: red; */
  }
  
  .featuredToggle .toggleButton button {
    /* border: 20px; */
    border-radius: 50%;
  }