.houseCardContainer {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}

.propertyGradientBg {
  background: linear-gradient(96deg, #262626 -26.82%, rgba(38, 38, 38, 0.00) 40.46%);
}

.propertyJourneybg { 
  background-image: url("./assets/leftAbstract.png"), url("./assets/rightAbstract.png");
  background-position:  left,  right;
  /* background-size: cover; */
  background-repeat: no-repeat, repeat;
  /* background-position: ; */
}
















/* .background1 {
  background: url("./assets/backgroundImage.png");
  background-image: var(--Grey-60);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
} */

.blackButton {
  background-color: var(--Grey-15);
}
.colouredButton {
  background-color: var(--Purple-60);
}
.greyText {
  color: var(--Grey-60);
}

.smallText2 {
  font-size: 16px;
}
.smallText1 {
  font-size: 14px;
}
.fontWeight2 {
  font-weight: 700;
}
